.App__country-list {
  background-color: var(--color-2);
}

.App__country-list li {
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid cornflowerblue;
}

.App__country-list li img {
  width: 100%;
  height: 20vh;
}
