a {
  color: white;
}

.App {
  text-align: center;
}

.App__search-results a {
  color: black !important;
}

.overlay {
  padding-top: 3%;
  position: relative;
}

.overlay::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
}

.App__grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.hide {
  display: none !important;
}
